<header class="header">
  <div class="container flex">
    <div class="nav-logo">
      <%= include_svg('logo.svg') %>
    </div>

    <nav class="nav-link">
      <ul>
        <li>
          <%= link_to t('home.login'), '/app/login' %>
        </li>
      </ul>
    <nav>
  <div>
</header>
